@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-color: #37474f;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.container{
    max-width: 800px;
    width: 100%;
    background-color: #252931;
    color: #fff;
    border-radius: 25px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.95);
}
.wrapper{
    display: grid;
    grid-template-columns: 3fr 4fr;
    grid-gap: 1rem;
}
.img_section{
    border-radius: 25px;
    background-image: url(img/bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.7;
    background-size: cover;
    position: relative;
    transform: scale(1.03) perspective(200px);
}

.default_info{
    padding: 1.5rem;
    text-align: center;
}
.default_info img{
    width: 80%;
    object-fit: cover;
    margin: 0 auto;
}
.default_info h2{
    color: #000;
    /* text-shadow: 3px 1px #fff ,5px 2px #fff; */
    font-size: 3rem;
    font-weight: 400;
}
.default_info h3{
    color: #000;
    font-size: 1.1rem;
    /* text-shadow: 3px 1px #fff ,5px 2px #fff; */
    text-transform: capitalize;
}
.default_date{
    color: #000;
    /* text-shadow: 3px 1px #fff ,5px 2px #fff; */
    letter-spacing: 3px;
    font-weight: 800;
    font-size: 1.3rem;

}

.weather_temp{
    font-size: 4rem;
    font-weight: 800;
}

/* content section */

.content_section{
    padding: 1.5rem;
}
.content_section form{
    margin: 1.5rem 0;
    position: relative;
}
.content_section form input{
    width: 84%;
    outline: none;
    background: transparent;
    border: 1px solid #37474f;
    border-radius: 5px;
    padding: 0.7rem 1rem;
    font-family: inherit;
    color: #fff;
    font-size: 1rem;
    transition: all 0.5s ease-in-out;
}
.content_section form input:focus{
    background: #999797;
    color: #000;
}
.content_section form button{
    position: absolute;
    top: 0.5px;
    right: 0;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    padding:0.8rem 0.7rem;
    font-family: inherit;
    font-size: 0.8rem;
    outline: none;
    border: none;
    background: #5c6bc0;
    color: #fff;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}
.content_section form button:hover{
background: #455299;
color: #999797;
}

.day_info .content{
    display: flex;
    justify-content: space-between;
    padding: 0.4rem 0;
}
.day_info .content .title{
    text-transform:capitalize;
    text-shadow: 4px 2.5px #000;
    font-weight: 600;
}
.day_info .content .value{
    text-shadow: 4px 2.5px #000;

}
.list_content ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    margin: 3rem 0rem;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.95);
}
.list_content ul li{
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 1rem;
    transition: all 1s ease-in;
    text-shadow: 4px 2.5px #000;

}
.list_content ul li:hover{
    transform: scale(1.1);
    background-color: #fff;
    color: #232931;
    text-shadow: none;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.95);
    cursor: pointer;
}
.list_content ul li img{
    width: 50%;
    object-fit: cover;
}

.icons{
    opacity: 0;
}

.fadeIn{
 animation: 0.5s fadeIn forwards;
 animation-delay: 0.7s;

}
@keyframes fadeIn {
    to{
        transition: all 0.5s ease-in;
        opacity: 1;
    }
}


@media (max-width:767px){
    .container{
        padding:  20px 10px;
        height: 100%;
    }

    
    .wrapper{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }   
    .icons img{
        width: 30%;
        height: 30%;
    }
    .img_section{
        height: 60%;
        margin-bottom: 10px;
        padding-bottom: 20px;
    }
    .default_info h2{
        font-size: 2rem;
    }
    
    .content_section{
        height: 80%;
    }
    .content_section input{
        max-width:78%;
    }
    .content_section button{
        margin-top: 1px;
    }
}